* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--clr-gray-800);
}

.container {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
  color: var(--clr-gray-800);
}

p,
h1,
h2,
h3 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}
